<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            margin: 0px;
            height: 100vh;
            background: #333;
        }

        .center {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-input {
            width: 250px;
            padding: 20px;
            background: #fff;
            border: 2px dashed #555;
        }

        .form-input input {
            display: none;
        }

        .form-input label {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #333;
            color: #fff;
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
            text-transform: Uppercase;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
        }

        .form-input img {
            width: 100%;
            display: none;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4 center">MULTIMEDIA PROJECT</h1>
        <h2 class="center">UNIVERSITY OF INFORMATION TECHNOLOGY - VIETNAM NATIONAL UNIVERSITY</h2>
        <p class="lead center">Dong Quoc Tuan - 18520185</p>
        <p class="lead center">Nguyen Phuc Dat - 18520573</p>
        <p class="lead center">Huynh Minh Tri - 18520176</p>

        <hr class="my-4">

        <!-- Compress -->
        <form id="fileForm" method="POST" action="{{ url_for('getData') }}" enctype="multipart/form-data">
            <!-- Choose algorithm -->
            <div class="center">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Choose algorithm</label>
                    </div>
                    <select class="custom-select" name="flagAlg" id="flagAlg" onchange="handleSelectChange()">
                        <option value="0" selected>Huffman</option>
                        <option value="1">LWZ</option>
                        <option value="2">Arithmetic</option>
                    </select>
                </div>
            </div>
            <hr class="my-4">
            <div class="container-fluid">
                <h3 class="center">COMPRESSION</h3>
                <div class="row justify-content-between">
                    <!-- Left -->
                    <div class="col-5 center">
                        <div class="form-input">
                            <label for="file-ip-1">Upload Image</label>
                            <input type="file" name="file" id="file-ip-1" accept="image/*"
                                onchange="showPreview(event);">
                            <div class="preview">
                                <img id="file-ip-1-preview">
                            </div>
                        </div>
                    </div>
                    <!-- Center -->
                    <div class="col">
                        <div class="row align-items-center" style="height: 100%;">
                            <div class="col">
                                <div class="">
                                    <button type="submit" class="btn btn-outline-primary">Compress >></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right -->
                    <div class="col-5 center">
                        <div class="row align-items-center" style="height: 100%;">
                            <div class="col">
                                <button type="button" id="outputCompressed" class="btn btn-success disabled"><div style="color: dark;">Not available</div></button>
                                <div class="spinner-border text-info sr-only" id="spinnerCompress" role="status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <hr class="my-4">
        <!-- Decompress -->
        <h3 class="center pb-4">DECOMPRESSION</h3>
        <form id="decompressForm" method="POST" action="{{ url_for('getData') }}" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Compressed File</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="file" accept=".pkl" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose .pkl file</label>
                </div>
            </div>
            <input type="number" name="flagAlg" id="hiddenFlagAlg" value="0" hidden/>
            <div class="p-4 center">
                <button type="submit" onclick="handleSubmitDecompress(event)" class="btn btn-outline-primary">Decompress </button>
            </div>
        </form>
        <div class="preview center">
            <div class="spinner-border text-info sr-only" id="spinnerDecompress" role="status">
            </div>
            <img id="decompressPreview" class="sr-only"/>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap   /4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script>
        var FLAG_ALGO = 0;
        function handleSubmitDecompress(event){
            $('#hiddenFlagAlg').val($('#flagAlg').val());
        }
        function handleSelectChange(){
            FLAG_ALGO = document.getElementById("flagAlg").value;
        }
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        }
        function showResponse(response)  {
            console.log(response);
            $('#outputCompressed').html("<a href='" + response.filePath + "' style='color: black;'>Download now!</a>");
            $('#outputCompressed').removeClass('sr-only');
            $('#spinnerCompress').addClass('sr-only');

        }
        function decompressResponse(res){
            console.log(res);
            $('#spinnerDecompress').addClass('sr-only');
            $('#decompressPreview').removeClass('sr-only');
            var preview = document.getElementById("decompressPreview");
            preview.src = res.filePath;
            preview.style.display = "block";
            console.log(preview);
        }
        $(document).ready(function() {
            // bind 'fileForm' and provide a simple callback function
            //Compress
            var options = {
                //target: '#outputCompressed',
                success: showResponse,
                beforeSubmit: function(arr, $form, options) {
                    console.log(arr);
                    $('#spinnerCompress').removeClass('sr-only');
                    $('#outputCompressed').addClass('sr-only');
                }
            };
            $('#fileForm').ajaxForm(options);
            //Decompress
            $('#decompressForm').ajaxForm({
                success: decompressResponse,
                beforeSubmit: function(arr, $form, options) {
                    $('#spinnerDecompress').removeClass('sr-only');
                    $('#decompressPreview').addClass('sr-only');
                }
            });
        });
    </script>
</body>

</html>